* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;     
}

#nyt-logo {
    width: 200px;
    height: 30px;
}

#center-nav {
    margin-top: 10px;
    text-align: center;
    width: 200px;
}

#left-nav {
    width: 250px;
    padding-left: 10px;
}

#right-nav {
    width: 250px;
}

.icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.search {
    margin-left: 20px;
}

.space-cosmos-link {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.space-cosmos-link:hover {
    text-decoration: underline;
}

.btn {
    visibility: visible;
    text-size-adjust: 100%;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-family: helvetica, arial, sans-serif;
    transition: all 0.6s ease 0s;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 11px 12px 8px;
}

h1 {
    font-family: georgia,'times new roman',times,serif;
    font-weight: 700;
    line-height: 3rem;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 20px;
}


#title-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.satellite-img {
    width: 1200px;
}

.info {
    margin-top: 10px;
    color: #667;
    font-family: georgia,'times new roman',times,serif;
    font-size: 0.9375rem;
    line-height: 1.25rem;
}

#img-credit {
    font-family: inherit;
    font-size: 13px;
}

.main-content {
    margin: auto;
    margin-top: 25px;
    width: 600px;
    font-size: 20px;
    line-height: 1.875rem;
}

#date {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgb(68, 66, 66);
}

p {
    line-height: 1.875rem;
}

#theory-inflation {
    width: 944.8px;
    margin: auto;
}

#flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 17px;
    background: url("images/universe.png");
    word-spacing: 1px;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:576px;
    width:945px;
}


#universe,
#time,
#distant-coffee,
#everywhere-coffee,
#not-enough-time,
#inflation,
#fluctuation,
#expansion {
    margin-top: 135px;
    width: 24%;
}

.small-grey-text {
    font-size: 16px;
    color: grey;
}

#inflation-title {
    line-height: 1rem;
    font-size: 20px;
}

#container-footer {
    height: 1px;
    font-size: 14px;
}

.small-hr {
    border: 1px solid black;
    width: 8%;
    margin-bottom: 15px;
}

.media-info {
    font-size: 15px;
    color: grey;
    line-height: 1.3;
}

#nyt-satellite-two {
    width: 720px;
}

#read-comments-btn {
    text-size-adjust: 100%;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    color: white;
    display: block;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px;
    text-transform: uppercase;
    transition: background-color 0.6s ease 0s;
    width: 50%;
}

/* @media all and (max-width: 480px) {
    .mydiv { display: none; }
  } */
